/************************************************************************
GLOBAL STYLES
*************************************************************************/
html,body { font-family: droid sans; }

table { width:100%; }
table caption { text-align:left;  }
table thead th { text-align:left; border-bottom-width:1px; border-top-width:1px; }
table th, td { text-align:left; padding:6px;} 
			
.ui-footer { font-weight: normal !important; padding: 0 15px; }
.ui-footer a { font-weight: normal !important; text-decoration: none; }
.ui-collapsible-content p { color: #000; text-shadow: none; }

.gallery { list-style: none; padding: 0; margin: 0; }
.gallery:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; }
.gallery li { float: left; width: 33.33333333%; }
.gallery li a { display: block; margin: 5px; border: 1px solid #3c3c3c; }
.gallery li img { display: block; width: 100%; height: auto; }

